body {
	width: 1200px;
	margin: 0 auto;
	background-color: #f3f7f9;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;	
	margin-bottom: 60px;
}

.user-block {
	min-height: 40px;
	background-color: #33445a;
	margin-bottom: 35px;
}

.user-block a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 15px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.user-block .main-name {
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 110px;
	font-size: 24px;
	line-height: 24px;
	padding: 10px 55px;
	background-color: #ee3643;
	text-transform: uppercase;
}

.user-block .main-name:hover {
	background-color: #ca2c37;
}

.user-block .main-name:active {
	background-color: #ba2732;
}

.user-block .main-name:visited {
	background-color: #ee3643;
}

.user-block .main-name::before {
	content: "";
	position: absolute;
	top: 44px;
	left: 0;
	width: 220px;
	height: 4px;
	background-color: #c23f42;
}

.user-form {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-form input[type="search"] {
	background-color: #293449 ;
	border-color: transparent ;
}

.user-form input::-webkit-input-placeholder {
	color:#ffffff; 
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.user-form input::-moz-placeholder {
	color:#ffffff;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.user-form input:-moz-placeholder {
	color:#ffffff;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.user-form input:-ms-input-placeholder {
	color:#ffffff;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.left-item {
	float: left;
}

.search-logo {
	position: relative;
	padding-left: 40px;
	font-size: 0;
}

.search-logo::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 10px;
	width: 17px;
	height: 17px;
	background:  url("../img/sprite.png") no-repeat -1322px -20px;
	opacity: 0.3;
}

.search-logo:hover::before {
	opacity: 1;
}

.user-form:hover,
.user-form:hover input {
	background-color: #212a3a;
	border-color: transparent;
		
}

.search-logo:active::before {
	opacity: 0.3;
}

.user-form:focus {
	background-color: #ffffff;
}

.user-form:focus input {
	border-color: #ee3643;
	color: #000000;
}

.right-item {
	float: right;
	display: inline-block;
	vertical-align: top;
}

.bookmark-header {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 42px;
	padding-left: 40px;
	padding-top: 10px;
}

.bookmark-header::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	top: 10px;
	left: -12px;
	background: transparent url("../img/sprite.png") no-repeat -525px -20px;
	opacity: 0.3;
}

.bookmark-header:hover::before {
	opacity: 1;
}

.bookmark-header:active::before {
	opacity: 0.5;
}

.bookmark-header:visited::before {
	opacity: 0.3;
}

.basket {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
	padding-left: 40px;
}

.basket::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 17px;
	top: 10px;
	left: -17px;
	background: transparent url("../img/sprite.png") no-repeat -490px -20px;
	opacity: 0.3;
}

.basket:hover::before {
	opacity: 1;
}

.basket:active::before {
	opacity: 0.5;
}

.basket:visited::before {
	opacity: 0.3;
}

.user-block .green-background {
	display: inline-block;
	vertical-align: top;
	background-color: #6db254; 
	padding: 13px 20px;
}

.user-block .green-background:hover {
	background-color: #5fbb2d;
}

.user-block .green-background:active {
	background-color: #518534;
}

.user-block .green-background:visited {
	background-color: #63a63e;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.login-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px;
}

.login-block h1 {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #ff5357;
	width: 200px;
	height: 80px;
	margin-left: 52px;
}

.contacts {
	margin-top: 20px;
}

.tel-number {
	position: relative;
	font-size: 21px;
	line-height: 1.2em;
	text-decoration: none;
	border: 3px solid #ffffff;
	color: #ff5357;
	padding: 10px 50px 10px 70px;
}

.tel-number::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	top: 11px;
	left: 11px;
	background: transparent url("../img/sprite.png") no-repeat -1282px -20px;
	
}

.contacts p{
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
	padding-left: 8px;

}

.block-registered-user {
	display: none;
}

.registration-active {
	display: block;
}

.registration-login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	padding: 10px 30px 10px 50px; 
	margin-top: 10px;
}

.registration-login:hover {
	color: #ee3643;
}

.registration-login:active {
	color: #000000;
	opacity: 0.3;
}

.registration-login::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 12px;
	left: 15px;
	background: transparent url("../img/sprite.png") no-repeat -1120px -20px;
}

.registration-login:hover::before {
	background: transparent url("../img/sprite.png") no-repeat  -1080px -20px;
}

.registration-login:active::before {
	background: transparent url("../img/sprite.png") no-repeat -1040px -20px;
}

.registration-in {
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	padding: 10px 25px; 
	margin-top: 10px;
}

.registration-in:hover {
	color: #ee3643;
}

.registration-in:active {
	color: #000000;
	opacity: 0.3;
}

.registration-name {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	padding: 10px 10px 10px 35px;
	margin-top: 10px;
}

.registration-name:hover {
	color: #ee3643;
}

.registration-name:active {
	color: #000000;
	opacity: 0.3;
}

.registration-name::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: transparent url("../img/sprite-1.png") no-repeat -139px -10px ;
}

.registration-name:hover::before  {
	background-position: -99px -10px;
}

.registration-name:active::before  {
	background-position: -139px -10px;
}

.registration-name:active {
	opacity: 0.3;
}

.registration-out {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: transparent;
	background-color: #ffffff;
	padding: 10px 10px 10px 20px;
	margin-left: -5px;
	margin-top: 10px;
}

.registration-out::before {
	content: "";
	position: absolute;
	top: 20%;
	left: 40%;
	width: 20px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat -1160px -17px ;
}

.registration-out:hover::before {
	background-position: -1201px -17px;
}

.registration-out:active::before {
	background-position: -1242px -17px;
}

.personal-area-block {
	position: relative;
	padding-top: 10px;
	padding-left: 5px;
}

.personal-area-block::before {
	content: ".";
	position: absolute;
	top: -9px;
	left: 90px;
	font-size: 30px;
	color: #32425c;
}

.personal-area-block a{
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
	color: #32425c;
	margin-right: 30px;
}

.personal-area-block a:hover {
	color: #ee3643;
} 

.personal-area-block a:active {
	color: #32425c;
	opacity: 0.3;
} 

.main-menu {
	margin: 0;
	padding: 0;
	background-color: #3d546e;
}

.main-menu ul {
	width: 940px;
	margin: 0;
	padding: 0 20px;	
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	margin-right: -5px;
	list-style: none;
}

.main-menu a {
	display: block;
	padding: 20px 31px;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	text-decoration: none;
}

.main-menu a:hover {
	background-color: #293449;
} 

.main-menu a:active {
	opacity: 0.5;
	background-color: #1d2739;
} 

.main-block {
	width: 100%;
	background-color: #ffffff;
}

.our-offers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 60px;
	margin-bottom: 30px;
}

.offer {
	position: relative;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	width: 253px;
	height: 85px;
	background-color: #ffbf47;
	color: #ffffff;
	padding: 20px 23px;
	margin-bottom: 20px;
}

.offer::after {
	content: "";
	position: absolute;
	bottom: 25px;
	right: 20px;
	width: 80px;
	height: 75px;
	background:  url("../img/sprite.png") no-repeat;
} 

.offer1::after {
	background-position: -215px -10px;
}

.offer1::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: transparent url("../img/sprite.png") no-repeat -1470px -20px;
} 

.offer2::after {
	background-position: -390px -10px;
}

.offer3::after {
	background-position: -295px -10px;
}

.offer4::after {
	background-position: -55px -20px;
}

.offer5::after {
	background-position: -138px -20px;
}

.offer a {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #e5ac40;
	padding: 10px 27px;
	margin-top: 15px;
}

.offer2 {
	background-color: #3bbce3;
}

.offer2 a{
	background-color: #35a9cc;
}

.offer3 {
	background-color: #dc91d8;
}

.offer3 a{
	background-color: #c682c2;
}

.offer4 {
	background-color: #8ed78f;
}

.offer4 a{
	background-color: #77bc6d;
	padding-left: 20px;
}

.offer5 {
	background-color: #ffc047;
}

.offer5 a{
	background-color: #e5ac40;
	padding-left: 35px;
}

.slider-wrap {
	position: relative;
	width: 620px;		
}

.slider {
	position: relative;
	z-index: 1;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 200%;
}

.slider-slides .slider-item {
		float: left;
    width: 620px;
    height: 265px;
}

.slider-item h2 {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 25px;
	margin-left: 23px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.slider-item p {
	display: inline-block;
	font-family: 'PT Sans', Arial, sans-serif;
	vertical-align: top;
	color: #ffffff;
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 120px;
	padding-left: 5px;
}

.slider-btn {
	display: block;
	vertical-align: top;
	width: 125px;
	height: 20px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 5px;
	padding: 10px 20px;
	padding-left: 55px;
	margin-bottom: 20px;
	margin-left: 20px;  
}

.slider-item .slider-btn:hover {
	background-color: #ca2c37;
}

.slider-item .slider-btn:active {
	background-color: #ba2732;
}

.slider-item .slider-btn:visited {
	background-color: #ee3643;
}

.slider-slides .puncher {
	background: #56412d url("../img/slider 1.jpg") no-repeat;
} 

.slider-slides .drill {
	background: #56412d url("../img/slider 2.jpg") no-repeat;
} 

.slider-controls {
	position: absolute;
	top: 215px;
	left: 287px;
	z-index: 98;
}

.slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
	background-color: #ffffff;
	border: 5px solid #fff;
  background-color: #ccc;
	border-radius: 50%;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
   background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(0);
  transform: translate(0);
	
}

#btn-2:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(-620px);
 	transform: translate(-620px);
}

.slider-direction {
	position: relative;
	font-size: 0;
}

.slider-direction::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	padding: 10px;
	border: 1px solid #ffffff;
	border-right-color: transparent;
	border-top-color: transparent;
	border-radius: 3px;
}

.slider-direction-wrap .left-slider::before {
	top: -150px;
	left: 10px;
	z-index: 99;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.slider-direction-wrap .right-slider::before {
	top: -150px;
	left: 560px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	z-index: 99;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
	margin-bottom: -5px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
   vertical-align: top;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.breadcrumbs a {
	position: relative;
	display: block;
  text-decoration: none;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
	text-transform: uppercase;
  color: #000000;
  padding: 15px;
	padding-left: 0;
}

.breadcrumbs .home-icon {
	
	color: transparent;	
}

.breadcrumbs .home-icon::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 0px;
	width: 15px;
	height: 15px;
	background: transparent url("../img/sprite.png") no-repeat -10px -10px;
}
.breadcrumbs a::after {
	content: "";
	position: absolute;
	top: 17px;
	left: -38px;
	width: 7px;
	height: 7px;
	border: 1px solid #000;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: 2px;
	opacity: 0.3;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.breadcrumbs .home-icon::after {
	display: none;
}

.header-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f9f5f0;
	margin-bottom: 24px;
}

.header-block h2 {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #3d546e;
	margin-left: 25px;
	padding-top: 5px;
	padding-left: 5px;

}

.header-block .page-btn {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	height: 35px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 2px;
	margin-top: 25px;
	margin-right: 25px; 
	margin-bottom: 10px;
	padding: 10px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.header-block .page-btn:hover {
	background-color: #ca2c37;
}

.header-block .page-btn:active {
	background-color: #ba2732;
}

.header-block .page-btn:visited {
	background-color: #ee3643;
}

.catalog-items {
  width: 940px;
	margin-bottom: 0;
}

.item-wrap {
	width: 700px;
	margin-bottom: 20px;
}

.catalog-item{
  position: relative;
 	display: inline-block;
	vertical-align: top;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 20px;
	font-size: 18px;
  font-weight: bold;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
	text-align: center;
	overflow: hidden;
}

.catalog-items .catalog-item:nth-child(4),
.item-wrap .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items,
.item-wrap {
	font-size: 0;
}

.catalog-item {
	font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/sprite.png") no-repeat -1470px -20px;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .buy,
.catalog-item .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315; 
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;    
  border-radius: 3px;
}

.catalog-item .actions {
	display: none;
}

.catalog-item .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.catalog-item .bookmark:hover {
	border-color: #32425c;
}

.catalog-item .bookmark:active {
	border-color: #c1c6ce;
}

.catalog-item .buy {
	position: relative;
}

.catalog-item .buy::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 17px;
	top: 5px;
	left: 10px;
	background: transparent url("../img/sprite.png") no-repeat -490px -20px;
	opacity: 0.3;
}

.catalog-item .buy:hover {
	background-color: #5fbb2d;
}

.catalog-item .buy:hover::before {
	opacity: 1;
}

.catalog-item .buy:active {
	background-color: #518534;
}

.catalog-item .buy:active::before {
	opacity: 1;
}

.basket:active::before {
	opacity: 0.5;
}*/

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item image {
	width: 218px;
	height: 168px;
}

.catalog-item .image img {
	max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 28px;
	padding-left: 29px;
	padding-right: 27px;
  margin-top: -7px;
  margin-bottom: 5px;  
}

.catalog-item .discount {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
	padding-left: 10px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
	top: 9px;
	left: 6px; 
  width: 145px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
  margin: 5px auto;
  margin-bottom: 20px;
  padding: 11px 20px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.catalog-item:hover {
	-webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
	
}

.catalog-item .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.content-producers h2 {
	margin-left: 20px;
}

.content-producers	.page-btn {
	padding-left: 67px;
}

.content-producers {
	width: 100%;
	min-height: 310px;
	margin-bottom: 62px; 
}

.producer-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}

.producers-item {
	display: table;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	margin-bottom: 20px;
}

.producers-item:hover {
	-webkit-box-shadow: 0 10px 25px 0  rgba(41, 52, 73, 0.5);
	box-shadow: 0 10px 25px 0  rgba(41, 52, 73, 0.5);		
}

.producers-item:active {
	-webkit-box-shadow: 0 4px 10px 0  rgba(41, 52, 73, 0.5);
	box-shadow: 0 4px 10px 0  rgba(41, 52, 73, 0.5);
		
}

.producers-item a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
}

.main-page-catalog {
	padding-bottom: 10px;
}

.wrapper-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper-main-content h2 {
	width: 220px;
	height: 40px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 18px;
	margin-top: 0px;
	padding-top: 10px;
	background-color: #f7f3ec;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper-main-content .filter-form {
  width: 220px;
  min-height: 760px;
}

.filter-form fieldset {
	width: 220px;
	border: none;
	padding: 0;
	margin: 0;
}

.filter-form legend {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 1px;
	margin: 0;
	margin-bottom: -10px;
}

.filter-range {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-size: 17px;
	line-height: 18px;
	color: #000000;
	width: 220px;
	margin-top: 20px;
	margin-left: 0px;
	padding-left: 0;
	margin-bottom: 15px;
}

.range-controls {
	position: relative;
  height: 41px;
  border-radius: 5px;
  background: #f7f3ec;
	padding-top: 37px;
	padding-right: 20px;
  padding-left: 20px;
	margin-bottom: 0px;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.range-controls .toggle {
	position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
	cursor: pointer;
  border: 8px solid #fff;
	border-radius: 50%;
  background: #000000;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
	
}

.price-controls label {
  display: inline-block;
	font-size: 17px;
  width: 50%;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	padding-bottom: 25px;
	border-bottom: 2px solid #f7f3ec;
	
}

.price-controls input {
  font-size: 17px;
	width: 85px;
	margin-left: 20px;
  padding: 8px 0px;
  text-align: center;
  color: #000000;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	border: none;
  border-radius: 5px;
  background: #f1f1f1;
	padding-left: 8px;
	padding-top: 5px;
}

.min-price input {
	margin-left: 0;
}

.manufacturers label {
	position: relative;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 23px;
	margin-bottom: 20px;
	padding-left: 33px;
	cursor: pointer;
}

.checkbox-interskul-item {
	top: -3px;
}

.checkbox-makita-item {
	top: -5px;
}

.checkbox-dewalt-item {
	top: -9px;
}

.checkbox-hitachi-item {
	top: -14px;	
}

.power-supply legend {
	margin-top: -15px;
}

.manufacturers label::before {
	content: "";
	position: absolute;
	top: 0;
	left: -4px;
	width: 27px;
	height: 27px;
	background: transparent url("../img/sprite.png") no-repeat  -601px -18px;
}

.manufacturers label:hover::before {
	background-position: -558px -18px;
}

.manufacturers input[type="checkbox"] {
	display: none;
}

.manufacturers input[type="checkbox"]:checked + label::before {
	background-position: -691px -18px;
}

.manufacturers input[type="checkbox"]:checked + label:hover::before {
	background-position: -644px -18px;
}

.power-supply legend {
	margin-bottom: 20px;
}

.power-supply label {
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 40px;
	cursor: pointer;
}

.power-supply label::before {
	content: "";
	position: absolute;
	top: 0;
	left: -4px;
	width: 27px;
	height: 27px;
	background: transparent url("../img/sprite.png") no-repeat  -829px -18px;
}

.power-supply label:hover::before {
	background-position: -784px -18px;
} 

.power-supply input[type="radio"] {
	display: none;
}

.power-supply input[type="radio"]:checked + label:hover::before {
	background-position: -919px -18px;
}

.power-supply input[type="radio"]:checked + label::before {
	background-position: -964px -18px;
}

.filter-button {
	display: block;
	width: 140px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-top: 60px;
	padding: 10px 25px;
}

.sort-block {
  background-color: #f7f3ec;
	margin-bottom: 7px;  
}

.sort-block h2 {
  float: left;
	width: 220px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 19px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sort-block ul {
	float: right;
  width: 470px;
	min-height: 40px;
  margin: 0;
	margin-right: -7px;
  padding: 0;
}

.sort-block li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.sort-block a {
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
	border-bottom: 1px dashed #ee3643;
	padding-left: 0;
	padding-bottom: 0px;
	padding-top: 10px;
}

.by-price {
	margin-right: 60px;
}

.by-type {
	margin-right: 60px;
}

.by-functional {
	margin-right: 50px;
}

.sort-block a:hover {
	opacity: 1;
	border-bottom: 1px solid #ee3643;
}

.sort-block a:active {
	color: #ee3643;
	border-bottom: none;	
}


a.arrow {
  position: relative; 
	font-size: 0;
	margin-right: 20px;
}

.arrow::before {
  content: "";
	position: absolute;
	top: 0;
	left: -15px;
	border: 10px solid #c6c2bd;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
	top: 12px;
}

.arrow-down::before {
  border-bottom-width: 0;
	top: 12px;
	left: -8px;
}

.arrow-up:hover::before {
   border-bottom-color: #000000;
}

.arrow-up:active::before {
   border-bottom-color: #ee3643;
}

.arrow-down:hover::before {
   border-top-color: #000000;
}

.arrow-down:active::before {
   border-top-color: #ee3643;
}

.pagination {
  min-width: 280px;
  padding-top: 20px;
  white-space: nowrap; 
}

.pagination ul {
  margin: 0;
  padding: 0;
  padding-top: 19px;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.pagination a{
	display: block;
 font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: #000000;
	padding: 10px 15px;
	margin-right: 10px;
	border-radius: 3px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.pagination .pagination-next {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
}

.pagination a:hover {
	border: 1px solid #bdc6ca;
}

.pagination a:active {
	border: 1px solid #ee3643;
}

.pagination .current {
    background-color: #ee3643;
}

.service {
	background-color: #f3f7f9; 
	padding-bottom: 110px;
	margin-bottom: 20px;
}

.service h2 {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 70px;
}

.service p {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.service-catalog {
	width: 940px;
	white-space: nowrap;
	margin-bottom: -60px;
}

.service-exposition {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 70px;
}

.service-menu {
	position: relative;
}

.service-menu-list {
	position: relative;
	width: 240px;
	list-style: none;
	border: 1px solid #e5e5e5;
	margin: 0;
	padding: 0;
}

.service-menu-list::before {
	content: "";
	position: absolute;
	top: -25px;
	right: 0;
	width: 10px;
	height: 272px;
	background:  url("../img/service-menu.png") no-repeat;
}

.service-menu li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #33445a;
}

.service-item {
	display: block;
	text-decoration: none;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	padding: 11px 20px;
	padding-bottom: 17px;
	color: #ffffff;
	background-color: #3d546e;
	margin-bottom: -1px;
}

.service-item:hover {
	background-color: #293449;
} 

.service-active .service-item {
	color: #3d546e;
	background-color: #ffffff;
}

.delivery::before {
	content: "";
	position: absolute;
	top: 62px;
	right: -250px;
	width: 468px;
	height: 261px;
	background: #f2f6f8 url("../img/delivery.png") no-repeat; 
	z-index: 1;
}

.guarantee::before {
	content: "";
	position: absolute;
	top: 30px;
	right: -250px;
	width: 468px;
	height: 261px;
	background: #f2f6f8 url("../img/guarantee.png") no-repeat; 
}

.credit::before {
	content: "";
	position: absolute;
	top: 30px;
	right: -250px;
	width: 468px;
	height: 261px;
	background: #f2f6f8 url("../img/credit.png") no-repeat; 
}

.description {
	display: none;
	position: relative;
}

.description-active {
	display: block;
	position: absolute;
	left: 320px;
	top: -43px;
	width: 370px;
}

.description h3 {
	font-size: 36px;
	line-height: 36px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #3d546e;
	margin-bottom: 26px;
}

.description p {
	font-size: 13px;
	line-height: 24px;
	font-family:  'PT Sans', Arial, sans-serif;
}

.about-us {
	min-height: 380px;
	padding-bottom: 90px;
}

.about-us-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.about-us h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-family:  'Cuprum', Arial, sans-serif;
	text-transform: uppercase;
	padding-top: 30px;
}

.about-us p {
	font-family:  'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 10px;
}

.our-company {
	width: 550px;
}

.our-company ul {
	font-family:  'Cuprum', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	list-style: none;
	margin-top: 5px;
	padding-left: 0;
}

.our-company li {
	position: relative;
	padding-bottom: 18px;
	padding-left: 35px;
}

.our-company li::before {
	content: "";
	position: absolute;
	top: 10px;
	left: -1px;
	width: 25px;
	border-bottom: 2px solid red;	
}

.our-contacts {
	width: 300px;
}

.our-contacts p {
	padding-bottom: 15px;
}

.our-contacts img {
	margin-bottom: 35px;
}

.our-company .page-btn,
.our-contacts .page-btn {
	display: inline-block;
	vertical-align: top;
	font-family:  'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ee3643;
	color: #ffffff;
	padding: 10px 40px;
	border-radius: 5px;
}

.our-company .page-btn:hover,
.our-contacts .page-btn:hover {
	background-color: #ca2c37;
}

.our-company .page-btn:active,
.our-contacts .page-btn:active {
	background-color: #ba2732;
}

.our-company .page-btn:visited,
.our-contacts .page-btn:visited {
	background-color: #ee3643;
}

.our-contacts .page-btn {
	padding: 10px 61px;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #32425c;
  color: #ffffff;
}

.main-footer a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;	
  text-decoration: none;
  background-color: #32425c;
  color: #ffffff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.saite-navigation {
  margin-bottom: 25px;
}

.saite-navigation ul {
  float: right;
  margin: 0;
  padding: 0;
}

.saite-navigation li {
  display: inline-block;
	vertical-align: top;
  margin-right: -5px;
  white-space: nowrap;
	padding-left: 4px;
}

.saite-navigation li:nth-child(5) {
	margin-right: 0;
	padding-right: 0;
}

.saite-navigation a {
  display: block;
  margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 55px;
}

.saite-navigation .main-name-footer {
  float: left;
  position: relative;
	display: inline-block;
	font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
	padding: 15px 40px;
	height: 46px;
	background-color: #ff5357;
	width: 220px;
	height: 60px;
	margin-top: 0;
}

.saite-navigation .main-name-footer:hover {
	background-color: #ca2c37;
}

.saite-navigation .main-name-footer:active {
	background-color: #ba2732;
}

.saite-navigation .main-name-footer:visited {
	background-color: #ee3643;
}

.saite-navigation .main-name-footer::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 0;
	width: 220px;
	height: 4px;
	background-color: #c23f42;
}

.about-our-product {
	padding-bottom: 50px;  
}

.saite-navigation-list a:hover {
	text-decoration: underline;
}

.saite-navigation-list a:active {
	opacity: 0.3;
	text-decoration: none;
}

.contact-info {
  float: left;
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;	
	padding-left: 5px;
}

.contact-info a{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;	
}

.product-nav ul {
  float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width:550px;
  margin: 0;
  padding: 0;
	margin-left: auto;
}

.product-nav li {
  display: inline-block;
  vertical-align: top;
	margin-right: 5px;
	white-space: nowrap;   
}

.product-nav li:last-child {
}

.product-nav a {
 	display: block;
  padding: 0 25px;
  color: #ffd180; 
}

.product-nav a:hover {
	text-decoration: underline;
}

.product-nav a:active {
	opacity: 0.3;
	text-decoration: none;
}

.product-nav .product-nav-second {
	padding-left: 30px;
}

.product-nav .product-nav-third {
	padding-left: 30px;
}

.product-nav .product-nav-fourth {
	padding-left: 30px;
}

.copiright-block {
  background-color: #293449;
	padding-top: 20px;
	padding-bottom: 20px;
}

.copiright-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 18px;
}

.literary-property {
	margin-right: 185px;
}

.copiright-wrap a{
  font-size: 16px;
  line-height: 18px;
	color: #ffd180;
}

.copiright-wrap a:hover {
	text-decoration: underline;
}

.copiright-wrap a:active {
	text-decoration: none;
	color: #ee3643;
}

.social-block ul{
	width: 140px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
	margin-right: 104px;  
}

.social-block li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.social-block a {
	position: relative;
	display: block;
	font-size: 0;
  padding-right: 10px;
  margin-right: 30px;
}

.social-block a::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	top: -10px;;
	left: -20px;
	background: #212a3a url("../img/sprite.png") no-repeat ;
	border-radius: 50%;
}

.social-block .social-vk::before {
	background-position: -1423px -5px;
}

.social-block .social-fb::before {
	background-position: -994px -10px;
}

.social-block .social-tw::before {
	background-position: -1384px -10px;
}

.social-block a:hover::before {
	background-color: #ee3643;
}

.social-block a:active::before {
	background-color: #ee3643;
}

.feedback {	
	margin-right: 50px;
}

@keyframes bounce {
  0%   {
    transform: translateX(-800px);
  }
  70%  {
    transform: translateX(30px);
  }
  90%  {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-write-us {
	position: absolute;
  top: 2525px;
  left: 360px;
	display: none;
  width: 630px;
	height: 425px;
  padding: 45px 80px 35px 80px;
  color: #000000;
	border-top: 6px solid #ee3643;
  background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
	 position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;

  font-size: 0;

  
  border: 0;
  cursor: pointer;
}


.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
	 top: 9px;
  left: 1px;
  width: 20px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 1px;
}


.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-write-us label {
	display: block;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 10px;
}

.modal-write-us label+input {
	width: 220px;
	height: 35px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}

.modal-write-us textarea {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}

.icon-user {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.email-icon {
	float: right;
}

.text-list {
	clear: both;
	margin-bottom: 70px;
}

.btn-write-us {
	width: 460px;
	height: 40px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
	color: #ffffff;
}

.btn-write-us:hover {
	background-color: #ca2c37;
}

.btn-write-us:active {
	background-color: #ba2732;
}

.btn-write-us:visited {
	background-color: #ee3643;
}

.modal-write-us label+input:focus,
.modal-write-us textarea:focus {
	border: 1px solid #bdc6ca;
}

.modal-content-map {
	position: fixed;
  top: 50%;
  left: 50%;
	display: none;
  width: 940px;
  height: 445px;
	margin-top: -280px;
  margin-left: -520px;
  background: #e9e5dc url("../img/map-popap.jpg") no-repeat -10px;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-basket {
position: absolute;
  top: 880px;
  left: 50%;
	display: none;
	width: 620px;
	height: 270px;
  padding: 45px 80px 35px 80px;
	margin-left: -310px;
  color: #000000;
	border-top: 6px solid #ee3643;
  background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 999;
}

.modal-basket p {
	position: relative;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
  text-align: center;
	margin-bottom: 100px;
}

.modal-basket p::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
  width: 65px;
	height: 65px;
	background-color: #63a63e;
	border-radius: 50%;
}

.modal-basket p::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 25px;
  width: 10px;
	height: 25px;
	border: 6px solid #ffffff;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.checkout-btn {
	float: left;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 40px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
  line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ee3643;
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
	border-radius: 3px;
}

.checkout-btn:hover {
	background-color: #ca2c37;
}

.checkout-btn:active {
	background-color: #ba2732;
}

.checkout-btn:visited {
	background-color: #ee3643;
}

.next-bay-btn {
	float: right;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 40px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
  line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	padding-top: 10px;
	border-radius: 3px;
	border: 2px solid gray;
}

.next-bay-btn:hover {
	color: #ee3643;
}

.next-bay-btn:active {
	color: #000000;
	opacity: 0.3;
}

.modal-content-show {
  display: block;
	animation: bounce 0.6s;
}